/* Image formatting */
.img-about {
    width: 40%;
    float: left;
    margin-right: 10px;
}

/* Text block for all images */
.text-block {
    position: relative;
    bottom: 60px;
    text-align: center;
    padding: 15px;
}

/* Media tag for phone */
@media screen and (max-width: 640px) {
    .img-about {
        width: 100%;
        float: none;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .index-text {
        text-align: justify;
    }
}